int#launch#(#JUnitTest#t#,#boolean#haltError#,#boolean#stackfilter#,#boolean#haltFail#,#boolean#showOut#,#boolean#outputToFormat#,#boolean#logTestListenerEvents#)#{#JUnitTestRunner#runner#=#new#JUnitTestRunner#(#t#,#haltError#,#stackfilter#,#haltFail#,#showOut#,#logTestListenerEvents#,#null#)#;#runner#.#forked#=#true#;#runner#.#outputToFormatters#=#outputToFormat#;#transferFormatters#(#runner#,#t#)#;#runner#.#run#(#)#;##return#runner#.#getRetCode#(#)#;#}